#----------Energy Source----------
source.type=photovoltaic
source.name=Panasonic-AM1816
source.outputpower.lookuptable=[APPS_DIR]/senseh/config/EnergySources/Panasonic-AM1816.lut
source.num=1
#source.maxoutputpower=????

#--Environmental Data for Energy Source---
#source.environment.tracefile.path=[APPS_DIR]/senseh/config/EnergySources/tunnel/
#source.environment.sampleinterval=29.296875
#source.environment.tracefile.format.delimiter=\t
#source.environment.tracefile.format.columnno=1

#TODO: make it to be in lux
#source.environment.tracefile.path=[APPS_DIR]/senseh/config/EnergySources/bkk_phathumwan_jan2014/
#source.environment.sampleinterval=600

source.environment.tracefile.path=[APPS_DIR]/senseh/config/EnergySources/test/
source.environment.sampleinterval=1
source.environment.tracefile.format.delimiter=,
source.environment.tracefile.format.columnno=1

#----------Harvester--------------
harvester.name=Multi-Harvester
harvester.efficiency.lookuptable=[APPS_DIR]/senseh/config/EnergyHarvesters/Multiharvester.lut

#----------Energy Storage---------
storage.type=battery
storage.name=Ni-Mh
storage.soc.lookuptable=[APPS_DIR]/senseh/config/EnergyStorages/Ni-Mh.lut
storage.num=2

#----------Battery---------
battery.capacity=2500
battery.nominalvoltage=1.2
battery.minoperatingvoltage=1
